# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Android
android/build/
android/.gradle/
android/app/build/
android/app/.cxx/
*.keystore
!android/app/debug.keystore
android/app/src/main/assets/index.android.bundle
android/app/src/main/res/drawable-*
android/app/src/main/res/raw/
android/local.properties
android/app/google-services.json

# React Native
.metro-health-check*
*.jsbundle

# Testing
/coverage
__tests__/coverage/

# IDE
.idea/
*.iml
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Misc
*.log
.env
.env.local
